.App-header{
    background: rgba(126, 19, 19, 0.666);
    padding: 20px;
  }
  
  .App-header h1 {
      text-align: center;
  
  }
  .App-header nav {
      text-align: right;
      padding-right:25px;
  }
  